{% load static %}
<link rel="stylesheet" href="{% static 'blog/style.css' %}" />

{% include 'blog/navbar.html' %}

<div class="container">
  <br>
  {% block content %} {% if user.is_authenticated %}
  <h1>Welcome, {{ user.username }}!</h1>
  <p><a href="{% url 'logout' %}">logout</a></p>
  {% else %}
  You are not logged in <a href="{% url 'login' %}">login</a>
  {% endif %} {% endblock %}

  <h1>Posts</h1>

  <ul>
    {% for post in object_list %}

    <li><a href="/post/{{post.id}}">{{ post.title }}</a></li>

    {% endfor %}
  </ul>
</div>
